<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h3>
                Test task Evgeniy Samoylenko
            </h3>
        </div>
        <div class="col-12" style="text-align: center; margin-top: 24px;">
            {{ tiks | timePipe }}
        </div>
        <div class="col-12" style="text-align: center; margin-top: 24px;">
            <button (click)="start()">start</button>
            <button (click)="wait()">wait</button>
            <button (click)="reset()">reset</button>
        </div>
    </div>
</div>